{% extends 'base.html.twig' %}

{% block title %}Néné!{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
<h1> Coucou Néné</h1>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
               
                <h1 class="my-4">GRETA, FORMEZ-VOUS POUR l'EMPLOI<br>
                    <small>Une expertise éprouvée de la reconversion professionnelle et de l’alternance, avec certification reconnue </small>
                </h1>
               
                <br>
                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="la-formation-en-informatique.jpg" alt="Card image cap">
                    <div class="Formations continues">
                        <h2 class="card-title">Formations continues</h2>
                        <p class="card-text">C'est l'idéal, pour ceux qui sont déjà dans la vie active de pouvoir continuer à <br>se former chez nous pour améliorer leurs compétences et de s'adapter aux nouvelles tehnoligies,<br> pratique ou méthodes appliqués en entreprise. Elle est optimiser également la reconversion professionnelle.</p>
                        <a href="#" class="btn btn-primary">En savoir plus &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Entrées récurrentes
                        <a href="#">Greta77</a><br>
                        <br>
                        <br>
                    </div>
                </div>

                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="Informaticien.png" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title"> CAP au BTS: pour aller plus loin</h2>
                        <p class="card-text">Le BTS est un diplôme national d'état de bac+2. Rentrée annuelle septembe - juillet </p>
                        <a href="#" class="btn btn-primary">En savoir plus&rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        formation élisible aux comptes
                        <a href="#"> CPE CIF</a>
                    </div>
                </div>

                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="images%20(1).jpg" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">VAE</h2>
                        <p class="card-text">Vous étes particiler ou salarié et souhaitez valider vos acquis.<br> Cette formation est faite pour vous. <br>Obtenez une certification grâce à votre expérihence.</p>
                        <a href="#" class="btn btn-primary">En savoir plus &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Greta77 didérot
                        <a href="#">finance CPE CIF</a>
                    </div>
                </div>
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d167988.30052787586!2d2.3931717824345307!3d48.8616961787042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x63570859e2de1c19!2sGRETA-%20Espace%20DIDEROT!5e0!3m2!1sfr!2sfr!4v1605215270541!5m2!1sfr!2sfr" width="300" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

               

{% endblock %}
