{% extends 'base.html.twig '%}

 {% block body %}
 <div class="image">
    <h3> Fatoumata Diallo</h3>
    <h1>Développeuse web et web mobile</h1>
 </div>
 <div>
    <h4>MES DIPLÔMES<h4>
    </div>


 {% endblock %}
